@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import "bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Space Mono", monospace;
  background-color: #006d6f;
  color: #000;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.3rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.project-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.hand-cursor {
  cursor: pointer;
}

.window-title {
  background-color: #000080;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
  color: white;
}

.window-style {
  border: 2px outset #fff;
  background-color: #c0c0c0;
  color: #000;
}
